body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
  background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.temperature-converter {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  font-size: 18px;
  color: #333;
}

.mobile i {
  font-size: 20px;
  color: #333;
  margin: 0 5px;
}

.title {
  font-size: 24px;
  color: #333;
  margin: 20px 0;
}

.result {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.result-heading {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.celsius-value {
  font-size: 32px;
  color: #333;
  margin-top: 5px;
}

.degree-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.degree-field,
.temp-field {
  flex: 1;
  margin: 0 10px;
}

label {
  font-size: 14px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input:hover,
select:hover,
input:focus,
select:focus {
  border-color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .temperature-converter {
    max-width: 90%;
  }
}
